/* === Ardalans CSS-bas === */

html {
    font-size: 62.5%;
    text-size-adjust: none;
    scroll-behavior: smooth;
}

body {
    font-family: '', Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: hsl(0, 0%, 14%);
    background-color: hsl(210, 60%, 95%);
}

a {
    color: inherit;
    text-decoration: none;
    text-decoration-skip-ink: auto;
}

.wrapper {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 4rem;
}