/* Design System */
:root {
    --background-color: hsl(0, 0%, 98%); /* white */
    --text-color: hsl(0, 0%, 8%); /* black */
    --primary-color: hsl(26, 100%, 50%); /* orange */
    --secondary-color: #0074c7; /* blue */
    --tertiary-color: hsl(0, 0%, 36%); /* grey */
}

/* Global */

html {
    font-size: 62.5%;
    text-size-adjust: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans', Helvetica, sans-serif;
    font-size: 1.6rem;
    /* line-height: 1.5; */
    color: var(--text-color);
    background-color: var(--background-color);
}

a {
    color: inherit;
    text-decoration: none;
    text-decoration-skip-ink: auto;
}

h1 {
    font-size: clamp(2.4rem, 1.8rem + 1vw, 3.2rem);
    font-weight: 700;
}

h2 {
    font-size: clamp(2rem, 1.714rem + 0.762vw, 2.4rem);
    font-weight: 600;
}

.hidden-element {
    display: none;
}

/* Navbar */
.nav-wrapper {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 clamp(2rem, 0.571rem + 3.81vw, 4rem);
}

.nav-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: auto;
    height: 8.4rem;
    box-shadow: 0 5px 10px rgba(154,160,185,.25), 0 15px 40px rgba(166,173,201,.2);
    border-radius: 0 0 0.4rem 0.4rem;
}

.nav-buttons {
    display: flex;
    gap: 0.8rem;
}

.logo-container {
    cursor: pointer;
    height: auto;
}

.logo {
    color: var(--primary-color);
    font-size: clamp(2.0rem, 1.6rem + 1vw, 2.4rem);
    font-weight: 800;
}

/* Main */

.main-wrapper {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 clamp(2rem, 0.571rem + 3.81vw, 4rem);
    margin-top: clamp(4rem, 1.143rem + 7.619vw, 8rem);
    margin-bottom: clamp(4rem, 1.143rem + 7.619vw, 8rem);
    display: grid;
    grid-template-areas:
        "hero"
        "categories"
        "articles"
        "footer";
    /* grid-column: auto; */
}

/* Home - Hero */

.hero-container {
    grid-area: hero;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 32rem;
    gap: 2rem;
    background:  linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.65) 100%),
    url('/images/hero-bg.webp') no-repeat;
    border-radius: 2rem;
    padding: 2.4rem;

}

.hero-text {
    text-align: center;
    height: auto;
    padding: 0.8rem;
    color: white;
}

.hero-search {
    width: 100%;
}

.hero-searchbar {
    display: flex;
    justify-content: center;
}

.hero-searchbar form {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1.4rem;
    background-color: rgb(255, 255, 255);
    border: 0.2rem solid var(--primary-color);
    border-radius: 1.4rem;
    width: clamp(40rem, 30.857rem + 19.048vw, 50rem);
}

.searchbar-btn {
    padding: 0.4rem 1.4rem;
    border: none; 
    background-color: transparent;
    cursor: pointer;
    border-left: 0.2rem solid var(--primary-color);
    font-weight: 600;
}

.hero-searchbar input[type=text] {
    border: none;
    background-color: transparent;
}

.hero-searchbar input[type=text]:focus {
    outline: none;
}

.hero-searchbar input[type=text]::placeholder {
    color: rgb(100, 100, 100);
}

/* Categories */

.categories-container {
    grid-area: categories;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    height: 32rem;
    gap: 2rem;
    border-radius: 2rem;
    width: 100%;
    padding: 2.4rem;
}

.categories-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.categories-banner {
    background-color: red;
    height: 8.4rem;
}

/* Components */

.btn { 
    padding: 0.7rem 1.4rem;
    border-radius: 1.4rem;
    font-size: clamp(1.4rem, 1.257rem + 0.381vw, 1.6rem);    
    cursor: pointer; 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
}

.btn.primary {
    background-color: transparent;
    border: 0.2rem var(--primary-color) solid ;
}

.btn.primary:hover {
    border-color: color-mix(in srgb, var(--primary-color) 50%, transparent); /* Ger en ljusare färg */
}


.btn.secondary {
    background-color: var(--secondary-color);
    border: 0.2rem var(--secondary-color) solid;
    color: white;
}

.btn.secondary:hover {
    background-color: color-mix(in srgb, var(--secondary-color) 90%, transparent); /* Ger en ljusare färg */
    border-color: color-mix(in srgb, var(--secondary-color) 90%, transparent);
}

/* == Media Queries == */

/* == Tablet == */
@media (max-width: 1024px) {

    .image-gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        padding: 2rem;
    }

    .image-gallery img {
        aspect-ratio: 5 / 3;
        object-fit: cover;
    }
}


/* == Mobile == */
@media (max-width: 600px) {

    /* Nav */
    .nav-buttons {
    gap: 2rem;
}

/* Components */
.btn {
    flex-direction: column;
}
    .btn.primary,
    .btn.secondary {
        padding: 0;
        border-radius: 0;
        border: none;
        background-color: transparent;
        color: black;
}

    .image-gallery {
        grid-template-columns: 1fr; /* en kolumn */
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .image-gallery img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 0;
    }

}
